@import "~bootstrap-icons/font/bootstrap-icons.css";
.wrapper {
  padding: 20px 250px;
}

body {
  margin-bottom: 100px;
}

a,
tr {
  cursor: pointer;
}

.page h2 {
  margin-bottom: 50px;
}

.page .actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page .actions svg:hover {
  transform: scale(1.2);
}

.alert {
  min-width: 600px;
}

.error {
  width: 700px;
}

.modalWidow {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

svg {
  height: 25px;
}
.bi-x-lg {
  color: red;
}
.bi-check-lg {
  color: green;
}
