<div *ngIf="!errorMessage" class="users-page page">
  <h2>{{ role.charAt(0).toUpperCase() + role.slice(1) }}s</h2>
  <div class="alert alert-warning" role="alert">
    Total number of {{ role }}s: {{ count }}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date of joining</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users; first as isFirst"
        [routerLink]="[user.user_id]"
      >
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.created_on | date: "MM/dd/yy, h:mm a" }}</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        *ngFor="let page of [].constructor(pages); let i = index"
        class="page-item"
      >
        <a class="page-link" (click)="getUsers(i + 1, role)">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-danger error" role="alert">
    <h3>Error</h3>
    <p>{{ errorMessage.name }}: {{ errorMessage.statusText }}</p>
  </div>
</div>
