<div *ngIf="!errorMessage" class="users-page page">
  <h2>{{ role.charAt(0).toUpperCase() + role.slice(1) }}s</h2>
  <div class="alert alert-warning" role="alert">
    Total number of {{ role }}s: {{ count }}
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date of joining</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; first as isFirst">
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.created_on | date: "MM/dd/yy, h:mm a" }}</td>
        <td>
          <div class="actions">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="edit-btn bi bi-pencil-fill"
              viewBox="0 0 20 20"
              [routerLink]="[user.user_id]"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#dc3545"
              class="delete-btn bi bi-x-circle-fill"
              viewBox="0 0 20 20"
              (click)="deleteUser = user"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
              />
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        *ngFor="let page of [].constructor(pages); let i = index"
        class="page-item"
      >
        <a class="page-link" (click)="getUsers(i + 1, role)">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="errorMessage">
  <div class="alert alert-danger error" role="alert">
    <h3>Error</h3>
    <p>{{ errorMessage.name }}: {{ errorMessage.statusText }}</p>
  </div>
</div>

<div class="backdrop" *ngIf="deleteUser"></div>

<div *ngIf="deleteUser" class="modalWidow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete {{ deleteUser.name }}
          {{ deleteUser.surname }}?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteUserById(deleteUser.user_id); deleteUser = null"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="deleteUser = null"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
