<div class="clients-page wrapper">
  <h2>Clients</h2>
  <div class="alert alert-warning" role="alert">Total number of clients:</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date of joining</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; first as isFirst">
        <td>{{ client.name }}</td>
        <td>{{ client.surname }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td>{{ client.created_on | date: "MM/dd/yy, h:mm a" }}</td>
        <td>Delete/Update</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li
        *ngFor="let page of [].constructor(pages); let i = index"
        class="page-item"
      >
        <a class="page-link" (click)="getClients(i + 1)">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</div>
