<div class="auth-page bg-light">

  <form
    class="w-100"
    [formGroup]="formLogin"
    *ngIf="getLocation() == '/login'"
    (ngSubmit)="submit()"
  >
    <div class="form-group">
      <label>Email address</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Enter email"
      />

      <div
        *ngIf="formLogin.get('email').invalid && formLogin.get('email').touched"
      >
        <small *ngIf="formLogin.get('email').errors.required">
          Field email cannot be empty
        </small>

        <small *ngIf="formLogin.get('email').errors.email">
          Enter correct email
        </small>
      </div>
    </div>
    <div class="form-group mt-4">
      <label>Password</label>
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <div
        *ngIf="
          formLogin.get('password').invalid && formLogin.get('password').touched
        "
      >
        <small *ngIf="formLogin.get('password').errors.required">
          Password cannot be empty
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <label>Role</label>
      <select formControlName="role" class="form-select">
        <option value="admin" selected>Who are you?</option>
        <option value="client">Passenger</option>
        <option value="driver">Driver</option>
        <option value="dispatcher">Dispatcher</option>
      </select>
      <div
        *ngIf="formLogin.get('role').invalid && formLogin.get('role').touched"
        class="validation"
      >
        <small *ngIf="formLogin.get('password').errors.required">
          Please pick your role
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-dark mt-4" [disabled]="!formLogin.valid">Submit</button>
  </form>

  <form
    class="w-100"
    [formGroup]="formRegistration"
    *ngIf="getLocation() == '/registration'"
    (ngSubmit)="submit()"
  >
    <div class="form-group mt-4">
      <input
        formControlName="name"
        type="name"
        class="form-control"
        placeholder="Name"
      />
      <div
        *ngIf="
          formRegistration.get('name').invalid &&
          formRegistration.get('name').touched
        "
      >
        <small *ngIf="formRegistration.get('name').errors.required">
          Name cannot be empty
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <input
        formControlName="surname"
        type="surname"
        class="form-control"
        placeholder="Surname"
      />
      <div
        *ngIf="
          formRegistration.get('surname').invalid &&
          formRegistration.get('surname').touched
        "
      >
        <small *ngIf="formRegistration.get('surname').errors.required">
          Surname cannot be empty
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <input
        formControlName="phone"
        type="phone"
        class="form-control"
        placeholder="Phone"
      />
      <div
        *ngIf="
          formRegistration.get('phone').invalid &&
          formRegistration.get('phone').touched
        "
      >
        <small *ngIf="formRegistration.get('phone').errors.required">
          Phone cannot be empty
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <input
        formControlName="email"
        type="email"
        class="form-control"
        placeholder="Email"
      />

      <div
        *ngIf="
          formRegistration.get('email').invalid &&
          formRegistration.get('email').touched
        "
      >
        <small *ngIf="formRegistration.get('email').errors.required">
          Field email cannot be empty
        </small>

        <small *ngIf="formRegistration.get('email').errors.email">
          Enter correct email
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <input
        formControlName="password"
        type="password"
        class="form-control"
        placeholder="Password"
      />
      <div
        *ngIf="
          formRegistration.get('password').invalid &&
          formRegistration.get('password').touched
        "
      >
        <small *ngIf="formRegistration.get('password').errors.required">
          Password cannot be empty
        </small>
      </div>
    </div>

    <div class="form-group mt-4">
      <select formControlName="role" class="form-select">
        <option value="" disabled selected>Passenger or Driver?</option>
        <option value="client">Passenger</option>
        <option value="driver">Driver</option>
      </select>
      <div
        *ngIf="
          formRegistration.get('role').invalid &&
          formRegistration.get('role').touched
        "
        class="validation"
      >
        <small *ngIf="formRegistration.get('password').errors.required">
          Please pick your role
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-dark mt-4"  [disabled]="!formRegistration.valid">Submit</button>
  </form>
</div>
