<div class="home">
  <nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand" href="#"><b>TaxiCall</b></a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarText"
    >
      <ul class="navbar-nav mr-auto" *ngIf="!isAuthenticated()"></ul>
      <ul class="navbar-nav mr-auto" *ngIf="isAuthenticated()">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            *ngIf="
              auth.getUserRole() == 'admin' ||
              auth.getUserRole() == 'dispatcher'
            "
            [routerLink]="['/clients']"
            >Clients</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            *ngIf="auth.getUserRole() == 'admin'"
            [routerLink]="['/dispatchers']"
            >Dispatchers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            *ngIf="
              auth.getUserRole() == 'admin' ||
              auth.getUserRole() == 'dispatcher'
            "
            [routerLink]="['/drivers']"
            >Drivers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            *ngIf="auth.getUserRole()"
            [routerLink]="['/orders']"
            >Orders</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            *ngIf="auth.getUserRole() == 'driver'"
            [routerLink]="['/cars']"
            >My cars</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button
          *ngIf="!isAuthenticated()"
          class="btn btn-dark btn-space btn-margin"
          [routerLink]="['/login']"
          (click) = "visible=false"
        >
          Login
        </button>
        <button
          class="btn btn-dark"
          *ngIf="!isAuthenticated()"
          [routerLink]="['/registration']"
          (click) = "visible=false"
        >
        Sign up
        </button>

        <button
          class="btn btn-dark"
          (click)="logout()"
          *ngIf="isAuthenticated()"
          [routerLink]="['/']"
        >
          Logout
        </button>
      </form>
    </div>
  </nav>

  <main class="wrapper">
    <div *ngIf="path == '/' && visible==true">
      <h1><b>TaxiCall</b> - your reliable taxi service</h1>
      <img
        class="taxi-img d-block"
        src="https://spectrum.ieee.org/media-library/a-group-of-nyc-taxis.jpg?id=25585849&width=1200&coordinates=0%2C155%2C0%2C155&height=600"
      />
      <button
        *ngIf="!isAuthenticated()"
        type="button"
        class="btn btn-warning btn-lg"
        (click) = "visible=false"
        [routerLink]="['/login']"
      >
        Start a ride
      </button>
    </div>
    <router-outlet></router-outlet>
  </main>

  <footer class="page-footer font-small bg-warning">
    <div class="footer-copyright text-center py-3">
      ©2021 Copyright:
      <a href="https://github.com/supruniiuk/db-coursework">Yuliia Supruniuk</a>
    </div>
  </footer>
</div>
