<div class="home">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-warning pt-4 ps-5 pe-5 pb-4"
  >
    <a class="navbar-brand" href="#">TaxiCall</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-flex justify-content-between"
      id="navbarText"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" [routerLink]="['/clients']">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/dispatchers']"
            >Dispatchers</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/drivers']">Drivers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/orders']">Orders</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button
          class="btn btn-dark btn-space btn-margin"
          [routerLink]="['/login']"
        >
          Login
        </button>
        <button class="btn btn-dark" [routerLink]="['/registration']">
          Register
        </button>
      </form>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
