.btn-margin {
  margin-right: 30px;
}
nav {
  padding: 20px 250px !important;
}
a {
  color: black !important;
}
footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

main {
  height: 80vh;
  display: flex;
  justify-content: center;
}
