<div class="orders-page page">
  <div class="d-flex justify-content-between">
    <h2>
      Cars
      <button
        type="button"
        [routerLink]="['/cars/', 'create']"
        class="btn btn-warning"
      >
        New car
      </button>
    </h2>
  </div>
  <div class="alert alert-warning" role="alert">
    Total number of cars: {{ count }}
  </div>
  <div class="alert alert-danger" *ngIf="count == 0" role="alert">
    <i class="bi bi-info-circle-fill"></i> Add your car, otherwise you cant work!
  </div>
  <router-outlet></router-outlet>

  <div class="cars">
    <div class="card" *ngFor="let car of cars; first as isFirst">
      <div class="card-header">{{ car.license_number }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ car.model }}</h5>
        <p class="card-text">{{ car.color }}</p>
        <p class="card-text">{{ car.type_id }}</p>
        <p class="card-text">
          Air condition
          <i *ngIf="car.air_conditioning" class="bi bi-check-lg"></i>
          <i *ngIf="!car.air_conditioning" class="bi bi-x-lg"></i>
        </p>
        <p class="card-text">
          Terminal
          <i *ngIf="car.terminal" class="bi bi-check-lg"></i>
          <i *ngIf="!car.terminal" class="bi bi-x-lg"></i>
        </p>
        <p class="card-text">
          Empty trunk
          <i *ngIf="car.empty_trunk" class="bi bi-check-lg"></i>
          <i *ngIf="!car.empty_trunk" class="bi bi-x-lg"></i>
        </p>
        <p class="card-text">
          Animals
          <i *ngIf="car.animals" class="bi bi-check-lg"></i>
          <i *ngIf="!car.animals" class="bi bi-x-lg"></i>
        </p>
        <p class="card-text">{{ car.added_date | date: "MM/dd/yy, h:mm a" }}</p>
        <hr />
        <div class="d-flex justify-content-between">
          <a (click)="deleteCarObj = car" class="btn btn-danger">Delete</a>
         <!--<a class="btn btn-warning">Update</a>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="backdrop" *ngIf="deleteCarObj"></div>

<div *ngIf="deleteCarObj" class="modalWidow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete {{ deleteCarObj.model }}({{
            deleteCarObj.license_number
          }})?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteCar(deleteCarObj.car_id); deleteCarObj = null"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="deleteCarObj = null"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
