<div class="orders-page page">
  <div class="d-flex justify-content-between">
    <h2>
      Orders
      <button
        type="button"
        [routerLink]="['/orders/', 'create']"
        *ngIf="authService.getUserRole() == 'client'"
        class="btn btn-warning"
      >
        New order
      </button>
    </h2>
  </div>
  <router-outlet></router-outlet>

  <div *ngIf="count" class="alert alert-warning" role="alert">
    Total number of orders: {{ count }}
  </div>
  <div *ngIf="!count" class="alert alert-primary" role="alert">
    <i class="bi bi-info-circle-fill"></i> No orders
  </div>
  <div
    class="alert alert-danger"
    *ngIf="count == 0 && role == 'driver'"
    role="alert"
  >
    <i class="bi bi-info-circle-fill"></i> You dont have completed orders.
  </div>

  <div
    class="alert alert-danger"
    *ngIf="!carNum && role == 'driver'"
    role="alert"
  >
    <i class="bi bi-info-circle-fill"></i> Add your car, otherwise you cant
    work!
  </div>

  <table
    *ngIf="
      role == 'admin' ||
      role == 'dispatcher' ||
      role == 'client' && count ||
      (count && role != 'driver') ||
      (count && carNum != 0 && role == 'driver')
    "
    class="table table-hover"
  >
    <thead>
      <tr>
        <th *ngIf="role !== 'client'">Client</th>
        <th scope="col">Driver</th>
        <th *ngIf="role !== 'client'" scope="col">Dispatcher</th>
        <th scope="col">Origin address</th>
        <th scope="col">Destination</th>
        <th scope="col">Payment</th>
        <th scope="col">Date</th>
        <th scope="col">Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders; first as isFirst">
        <td *ngIf="role !== 'client'">
          {{ !order.client_id ? "No info" : order.client_name }}
        </td>
        <td>{{ !order.driver_id ? "No info" : order.driver_name }}</td>
        <td *ngIf="role !== 'client'">
          {{ !order.dispatcher_id ? "No info" : order.dispatcher_name }}
        </td>
        <td>{{ order.origin_address }}</td>
        <td>{{ order.destination_address }}</td>
        <td>{{ !order.total_payment ? "No info" : order.total_payment }}</td>
        <td>{{ order.creation_date | date: "MM/dd/yy, h:mm a" }}</td>
        <td class="approved">
          <i *ngIf="order.approved" class="bi bi-check-lg"></i>
          <i *ngIf="!order.approved" class="bi bi-x-lg"></i>
        </td>
        <td>
          <div class="actions">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="edit-btn bi bi-pencil-fill"
              viewBox="0 0 20 20"
              [routerLink]="[order.order_id]"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
            <svg
              *ngIf="role == 'dispatcher' || role == 'admin'"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="#dc3545"
              class="delete-btn bi bi-x-circle-fill"
              viewBox="0 0 20 20"
              (click)="deleteOrder = order"
            >
              <path
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"
              />
            </svg>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <nav *ngIf="(count && role != 'driver') || (carNum && role == 'driver')">
    <ul class="pagination justify-content-center">
      <li
        *ngFor="let page of [].constructor(pages); let i = index"
        class="page-item"
      >
        <a class="page-link" (click)="getOrders(i + 1)">{{ i + 1 }}</a>
      </li>
    </ul>
  </nav>
</div>

<div class="backdrop" *ngIf="deleteOrder"></div>

<div *ngIf="deleteOrder" class="modalWidow">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm</h5>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete {{ deleteOrder.origin_address }} to
          {{ deleteOrder.destination_address }}?
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteOrderById(deleteOrder.order_id); deleteOrder = null"
        >
          Delete
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="deleteOrder = null"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
